.titleimage {
  padding: 0;
  margin: 2.5em;
  img {
    max-width: 160%;
    max-height: auto;
    margin-left: -15em;
  }
}

.titleimage_social_network {
  padding: 0;
  margin: 2.5em;
  img {
    max-width: 100%;
    max-height: auto;
    margin-left: 0em;
  }
}

.titleimage_nycabs {
  padding: 0;
  margin: 2.5em;
  img {
    max-width: 110%;
    max-height: auto;
    margin-left: -2.5em;
  }
}