{% include header.html %}
<div class="hero-container" style="margin: 5em 0 0em 0;">
  <header class="masthead">
    <img src="{{ site.baseurl }}/img/profile.jpg" alt="Shantanu Mukherjee">
  </header>
</div>

<div class="hero-content">
  <h1 class="text-center">Hello!<br>I am Shantanu Mukherjee.</h1>

  <p class="text-center" style="margin: 2em 0 0em 0;">
    I am a Software Engineer with particular keen interest in building robust, scalable solutions to problems!
    When not coding, I also make and record <a href="{{ site.baseurl }}/music/" target="_blank">music</a>. 
            And when I am not doing that, I am out playing Soccer, Ultimate Frisbee, and gobbling up movies!
  </p>

  <div class="button-center">
    <a href="{{ site.baseurl }}/projects/"><button class="btn btn-default btn-lg">See my Projects!</button></a>
  </div>

</div>
<footer>
  <h2 class="text-center">Get in touch!</h2>
  <p class="text-center">Send me a message on <a href="https://www.linkedin.com/in/shantanu-mukherjee/">LinkedIn</a>, 
    <a href="https://twitter.com/shantanu_bits">Twitter</a>, or just 
   {% include contact.html %}
   {% include contact-modal.html %}
  </p>
</footer>
{% include footer.html %}